<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Are you sure you want to delete this Resume ?
    <div class="right" data-id="<%- resume.id%>"></div>

    <button class="btn--delete">Yes</button>
  </body>

  <script src="http://127.0.0.1:3000/js/bundle.js"></script>
</html>
