<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Document</title> -->
  </head>
  <body>
    <form class="form--resume">
      Name
      <input type="text" name="name" id="name" /><br />
      Email
      <input type="text" name="email" id="email" /><br />
      Objective
      <input type="text" name="objective" id="objective" /><br />
      Achievement
      <input type="text" name="achievements" id="achievements" /><br />
      phone
      <input type="text" name="phone" id="phone" /><br />

      About
      <input type="text" name="name" id="about" /><br />
      Education Details
      <input type="text" name="edudetails" id="edudetails" /><br />
      skill
      <input type="text" name="skill" id="skill" /><br />
      Project
      <input type="text" name="project" id="project" /><br />
      Hobbies
      <input type="text" name="hobbies" id="hobbies" /><br />
      Regards
      <input type="text" name="regards" id="regards" /><br />
      <button class="btn--edit">Submit</button>

      <div class="right" data-id="<%- resume.id%>"></div>
    </form>
    <br />

    <button class="btn-logout">Logout</button>

    <script src="http://127.0.0.1:3000/js/bundle.js"></script>
  </body>
</html>
